        .panel.panel-warning.col-sm-3
          .panel-heading
            .panal-title
              자기소개서 만들기
          .panel-body
            .row
              자기소개서를 만들자.
            .row
              %span.tag.label.label-info h1~h6
              %span.tag.label.label-info p
              %span.tag.label.label-info br
              %span.tag.label.label-info hr
